<nav class=" blue hide-on-large-only">
  <div class="nav-wrapper blue ">
    <a routerLink="/" class="brand-logo left">prateleira</a>
    <ul class="right">
      <li>
        <a>
          <i class="material-icons ">contact_mail </i>
        </a>
      </li>
      <li>
        <a>
          <i class="material-icons ">info_outline</i>
        </a>
      </li>
      <li>
        <a (click)="auth.logOut()">Sair</a>
      </li>
    </ul>
  </div>
</nav>