<div class="card ">
  <div class="card-title ">
    <h5>{{ item.nome }}</h5>
  </div>
  <div class="card-image waves-effect waves-block waves-light ">
    <img class="center activator responsive-img" id="imagem" [src]="item.img" alt="">
  </div>
  <div class="card-action">
    <div class="row">
      <div [routerLink]="link" class="col l6 m6 s6 center green btn">
        <i class="material-icons">edit</i>
      </div>
      <div (click)="deleteItem()" class="col l6 m6 s6 center red btn">
        <i class="material-icons">delete</i>
      </div>
    </div>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">descrição
      <i class="material-icons right">close</i>
    </span>
    <br>
    <h5>{{ item.descricao }}</h5>
  </div>
</div>