<div class="card">
  <div class="card-image waves-effect waves-block waves-light">
    <img id="imagem" class="activator responsive-img" [src]="img">
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4 truncate">{{ colecao.nome }}
    </span>
    <p>
      <a [routerLink]="link" class="btn blue">Abrir</a>
    </p>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Descrição
      <i class="material-icons right">close</i>
    </span>
    <p>{{colecao.descricao}}</p>
  </div>
</div>