<div class="container">
  <div class="row">
    <div class="center">
      <h1 class="">page not found</h1>
    </div>
  </div>
  <div class="row">
    <div class="center">
      <a (click)="goToLogin()" class="btn blue">Ir para tela de login</a>
      <a class="btn blue">Ir para home</a>

    </div>
  </div>
</div>