.card{
    margin-top: 70px;
}
.esqueci{
    font-size: 20px;
}
.erro{
    padding: 5px;
    padding-left: 8px;;
    font-size: 15px;
    color: red;
    background-color: rgb(250, 194, 194);
    margin-bottom: 10px;
}