<div class="container  ">
  <div class="row valign-wrapper">
    <div class="col s12 l6 offset-l3  " id="login-card">
      <div class="card white">
        <div class="card-content white black-text">
          <span class="card-title ">
            <h3 class="white"> Log in</h3>
          </span>
          <form action="">
            <div class="input-field white">
              <input name="user" [(ngModel)]="user.user" type="text" id="txt-email" class="validate" required>
              <label for="txt-email">email</label>
            </div>
            <div class="input-field white">
              <input name="pass" [(ngModel)]="user.pass" type="text" id="txt-senha" class="validate" required>
              <label for="txt-senha">senha</label>
              <div *ngIf="invalid" class="erro">email ou senha invalidos</div>
            </div>
            <div>
              <a (click)="logar()" class="btn blue">Entrar</a>
              <a routerLink="/cadastrar" class="btn blue darken-2 ">Cadastrar</a>
            </div>
            <div>
              <a routerLink="/recuperarsenha" class="blue-text esqueci" href="#"> Esqueci minha senha </a>
            </div>
            <a routerLink="/ajuda" class="blue-text esqueci" href="#"> ajuda </a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>