<nav>
  <div class="nav-wrapper blue ">
    <a routerLink="/" class="brand-logo">Prateleira de Bolso</a>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a>
          <i class="material-icons">contact_mail </i>
        </a>
      </li>
      <li>
        <a>
          <i class="material-icons">info_outline</i>
        </a>
      </li>
      <li>
        <a (click)="auth.logOut()">Sair</a>
      </li>
    </ul>
  </div>
</nav>