<div class="container ">
  <div class="row">
    <h2 class="center">Criar conta</h2>
  </div>
  <form (ngSubmit)="onSubmit()" #cadastroForm="ngForm">
    <div class="row">
      <div class="input-field col l6 offset-l3 s12">
        <input name="nome" class="validate" type="text" id="nome" required [(ngModel)]="form.nome">
        <label for="nome">Nome</label>
      </div>
      <div class="input-field col l6 offset-l3 s12">
        <input #email class="validate" required name="email" type="email" id="email" [(ngModel)]="form.email">
        <label for="email">email</label>
      </div>
      <div class="input-field col l6 offset-l3 s12">
        <input name="senha" class="validate" type="password" id="senha" required [(ngModel)]="form.senha">
        <label for="senha">Senha</label>
      </div>
      <div class="input-field col l6 offset-l3 s12">
        <input name="repetir-senha" class="validate" type="password" required id="repetir-senha" [(ngModel)]="form.repetirSenha">
        <label for="repetir-senha">Repetir senha</label>
      </div>
    </div>
    <div class="row">
      <div class=" col offset-l5  ">
        <button [disabled]="!cadastroForm.form.valid" type="submit" class="btn green">Finalizar cadastro</button>
        <a routerLink="/login" class="btn waves-effect red">Cancelar</a>
      </div>
    </div>
  </form>
</div>