<div class="row">
    <nav *ngIf="!isAuth">
        <div class="nav-wrapper blue">
            <a class="brand-logo center ">prateleira</a>
        </div>
    </nav>
    <app-nav-bar-mobile *ngIf="isAuth"></app-nav-bar-mobile>
    <app-nav-bar-desktop *ngIf="isAuth" class="hide-on-med-and-down"></app-nav-bar-desktop>
    <router-outlet></router-outlet>
</div>
<h5>PRÉ ALFA 0.1</h5>

<!-- <app-footer></app-footer> -->