<div class="container">
  <div class="row">
    <h2 class="center">
      <span class="left">
      </span>Editar</h2>
    <div class="input-field col l6 s6 ">
      <img class="responsive-image" id="img-colecao" src="{{ item.img }}">
      <form>
        <a class="btn" (click)="imagem.click()">selecionar imagem</a>
        <input hidden='true' #imagem class="" type="file" (change)="handleFileSelect($event)" placeholder="Upload file">
      </form>
    </div>
    <div class="col l4 s12">
      <div class="input-field">
        <input type="text" id="txtNome" [(ngModel)]="item.nome">
        <label for="txtNome">Nome</label>
      </div>
    </div>
    <div class="col l4 s12">
      <div class="input-field">
        <input type="text" id="txtDescript" [(ngModel)]="item.descricao">
        <label for="txtDescript">descrição</label>
      </div>
    </div>
  </div>
  <div class="row">
    <a (click)="atualizarItem()" class="btn green">salvar</a>
    <a (click)="goBack()  " class="btn blue">cancelar</a>
  </div>
</div>