<div class="container">
  <h3 class="">
    <span (click)="location.back()" class="left">
      <i class="material-icons medium">keyboard_backspace</i>
    </span>{{ nomeColecao }}
    <span>
      <i [routerLink]="['/editcolecao',id]" class="material-icons medium right green white-text">edit</i>
      <app-modal-delete (excluir)="apagarColecao()" [titulo]="nomeColecao" [pergunta]="'deseja mesmo apagar essa coleção?'"></app-modal-delete>
    </span>
  </h3>
  <br>
  <div class="row">
    <div class="col l3 m2 s6" *ngFor="let item of collections.itens">
      <app-list-item [item]="item" [link]="['/item',item._id]"></app-list-item>
    </div>

  </div>
  <!-- <ul>
    <li *ngFor="let item of collections.itens">
      <app-list-item [item]="item" [link]="['/item',item._id]"></app-list-item>
    </li>
  </ul> -->

  <i class="material-icons left medium hide-on-large-only waves-effect waves-light  modal-trigger" href="#modalDel">delete</i>
</div>

<!-- flaoting button -->
<div class="fixed-action-btn">
  <a class="btn-floating btn-large teal modal-trigger" href="#modal1">
    <i class="large material-icons">add</i>
  </a>
</div>



<!-- modal -->

<!-- Modal Trigger -->
<!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a> -->

<!-- Modal Structure -->
<div id="modal1" class="modal" materialize="modal">
  <div class="modal-content">
    <h4>Novo item</h4>
    <div class="row">
      <div class="input-field col l6 s12 ">
        <img class="responsive-image" id="img-colecao" src="{{ item.img }}">
        <form>
          <a class="btn" (click)="imagem.click()">selecionar imagem</a>
          <input hidden='true' #imagem class="" type="file" (change)="handleFileSelect($event)" placeholder="Upload file">
        </form>
      </div>
      <div class="input-field col l6 s12">
        <input type="text" id="txtNome" [(ngModel)]="item.nome">
        <label for="txtName">nome</label>
      </div>

      <div class="input-field col l6 s12">
        <textarea id="textarea1" [(ngModel)]="item.descricao" class="materialize-textarea" data-length="500"></textarea>
        <label for="textarea1">descrição</label>
      </div>
      <div class="modal-footer">
        <a *ngIf="item.nome != ''" (click)="addItem()" class="btn green white-text modal-action modal-close ">Salvar</a>
        <a (click)="limpar()" class="modal-action modal-close waves-effect waves-green btn-flat blue white-text">fechar</a>
      </div>
    </div>
  </div>