<!-- modal delete-->
<i class="material-icons red white-text right waves-effect waves-light modal-trigger medium hide-on-med-and-down" href="#modalDel">delete</i>

<div id="modalDel" class="modal" materialize="modal">
  <div class="modal-content">
    <h4>Excluir {{ titulo }}</h4>
    <h6>{{ pergunta }}</h6>
    <div class="modal-footer">
      <a (click)="apagar()" class="btn red delete modal-action modal-close">Excluir</a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat white black-text">fechar</a>
    </div>
  </div>
</div>