<div class="container">
    <div class="row">
        <h3 class="center">Suas Coleções</h3>
        <h6 *ngIf="collections.colecoes.length < 1" class="grey-text lighthen-3 center">clique em + para criar uma coleção</h6>
    </div>
    <div class="row">
        <div class="col l3 m2 s12 colecao" *ngFor="let colecao of collections.colecoes">
            <app-colecao [img]="colecao.img" class="" id="item" [colecao]="colecao" [link]="['/colecao',colecao._id]"></app-colecao>
            <div> </div>
        </div>
    </div>
</div>
<!-- flaoting button -->
<div class="fixed-action-btn">
    <a class="btn-floating btn-large teal modal-trigger" href="#modal1">
        <i class="large material-icons">add</i>
    </a>

</div>

<!-- modal -->

<!-- Modal Trigger -->
<!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a> -->

<!-- Modal Structure -->
<div id="modal1" class="modal" materialize="modal">
    <div class="modal-content">
        <span class="grey-text text-darken-4">

            <a class="modal-action modal-close">
                <i (click)="limpar()" class="material-icons right ">close</i>
            </a>
        </span>
        <h4>Nova coleção</h4>
        <div class="row">
            <div class="input-field col l6 s6 ">
                <img class="responsive-image" id="img-colecao" src="{{ collec.img }}">
                <form>
                    <a class="btn" (click)="imagem.click()">selecionar imagem</a>
                    <input hidden='true' #imagem class="" type="file" (change)="handleFileSelect($event)" placeholder="Upload file">
                </form>
            </div>
            <div class="input-field col l6 s12">
                <input type="text" id="txtNome" [(ngModel)]="collec.nome">
                <label for="txtcla  Name">nome</label>
            </div>

            <div class="input-field col l6 s12">
                <textarea id="textarea1" [(ngModel)]="collec.descricao" class="materialize-textarea" data-length="500"></textarea>
                <label for="textarea1">descrição</label>
            </div>

        </div>
        <div class="modal-footer">
            <a *ngIf="collec.nome != ''" (click)="addCollection()" class="btn green white-text modal-action modal-close">Salvar</a>
            <a (click)="limpar()" class=" modal-action modal-close waves-effect waves-green btn-flat blue white-text ">fechar</a>
        </div>
    </div>