<div class="container">
  <h2 class="center">Ajuda</h2>
  <h5>Descrição:</h5>
  <h6 class="lighten-2">Projeto desenvolvido para disciplina de engenharia de software 2. futuramente sera lançada versão final para o publico
    em geral com aplicativo mobile e todas as funcionalidades estaveis
    <br>
    <br>
    <span>AVISOS</span>
    <br>
    <span class="red-lighten-3 red-text">por enquanto os serviços estão instaveis e o transporte e armazenamento de dados não é seguro, por isso recomendamos
      que não utilize a aplicação para armazernar dados potencialmente sensiveis</span>
  </h6>
  <a routerLink="/login" class="btn blue waves-efect">voltar para login</a>
</div>